@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  text-align: center;
  align-items: center;
  border: 1px;
  max-width: 70%;
  /* background-color: rgb(250, 245, 232); */
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  align-content: center;
}

.routes {
  top: -500px;
}

.header-container {
  width: 800px;
  margin-left: 200px;
  height: 30px;
  align-content: center;
  margin: 0 auto;
}
.headerImage{
  margin-left: 500px;
}

.linkButtons {
  display: flex;
  flex-direction: row;
  align-items: right;
  padding: 23.5rem 5rem;
/*   top: -100px; */
  color: rgb(253, 151, 255);
  margin-left: 400px;
  top: -300px;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  padding-bottom: 15px;
/*   margin: 3, 3, 0, 0; */
  margin-right: -600px;
  margin-top: -270px;
}

.btnStyle {
  padding: 15px 25px;
  margin: 10px;
  margin-bottom: -20px;
  margin-top: -20px;
  background-color: rgb(239, 220, 126);
  border-radius: 20px;
  border-width: 5px;
  color: rgb(19, 18, 18);
  font-style: italic;
  font-size: x-large;
}

.headerImage {
  display: flex;
  flex-direction: row;
  align-content: left;
  max-width: 100%;
  /* left: 200px; */
  width: 400px;
  height: 200px;
  margin-top: 30px;
  margin-left: -200px;

}

.homeParaDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 900px;
  border: 15px solid rgb(245, 173, 173);
  padding: 20px;
  /* margin: 20px; */
  margin-left: 400px;
  margin-top: 90px;

}

.titleBtnHome {
  display: flex;
  margin-bottom: 500px;
}

.styleParagraph {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.subjectsTitle{
  margin-left: 0px;
}
.subjectMap{
  align-items: center;
  margin-left: 200px;
  padding: 25px;
  border: 10px solid rgb(245, 173, 173);
  width: 300px;
}
.subjectList {
  /* display: flex;
  flex-direction: row; */
  border: 15px solid rgb(245, 173, 173);

  margin-left: 500px;
  margin-top: 40px;
  padding: 20px;
  border: 4px;
  border-color: black;
  border-radius: 15px;
}

.subjectAll{
  margin-top: 50px;
  margin-left:0px;
}

.newResBox{
  position: absolute;
  top: 300px;
  left: 80px;
  padding: 10px;
  width: 400px;
  border-radius: 15px;
  padding-bottom: -10px;
  border: 10px solid rgb(61, 61, 62);
}
.newResForm{
  position: fixed;
  top: 300px;
  left: 80px;
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  padding-bottom: -10px;
  border: 10px solid rgb(61, 61, 62);
}

.form{
  width: 400px;
  margin-left: 30px;
  display: block;
  
  align-content: center;
}


.editDelBut{
position: relative;
margin-left: 550px;
padding-top: 15px;
/* background-color: rgb(239, 220, 126);
border-radius: 20px;
border-width: 5px;
width: 130px;
color: rgb(19, 18, 18);
font-style: italic;
font-size: x-large; */

}

.delResBtn {
margin-top: 5px;
margin-bottom: 5px;
 background-color: rgb(239, 220, 126);
  border-radius: 20px;
  border-width: 5px;
  width: 180px;
  color: rgb(19, 18, 18);
  font-style: italic;
  font-size: x-large;
}

.editBtn{
  background-color: rgb(239, 220, 126);
  border-radius: 20px;
  border-width: 5px;
  width: 130px;
  color: rgb(19, 18, 18);
  font-style: italic;
  font-size: x-large;
}

.updateForm{
  margin-left: 500px;
  padding-top: 50px;
}

.subTitle{
  margin-top: 70px;
  margin-left: 800px;
  padding: 0px;
  width: 250px;
  border: 15px solid rgb(245, 173, 173);
}
.subjectBox{
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  margin-top: -500px;

  border: 15px solid rgb(245, 173, 173);
  border-radius: 15px;

}

.subjectInfoB{
  padding-left: 20px;

  font-weight: bolder;
  font-size: larger;
  font-style: italic;
  margin-left: 0px;

}

.subjectInfo{
  padding-left: 20px;
margin-top: 20px;
margin-left: 0px;

}

.subjectInfoRes{
  width: 500px;
margin-top: 30px;  
margin-left: 400px;

padding-left: 120px;
  padding-right: 20px;
  border: 4px solid rgb(245, 209, 173);
  align-items: center;
  /* width: 400px; */
  border-radius: 15px;

}

.resourceBox{
  margin-top: 30px;
  margin-left: 640px;
  border: 4px solid rgb(248, 137, 202);
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  padding-bottom: -10px;

}

.input{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 10px;
  border: 2px solid rgb(245, 209, 173);
  width: 200px;
}
.delBtn{
  display: flex;
  flex-direction: row;
  margin-left: 300px;
  margin-top: 50px;
  padding-bottom: -10px;
  padding-top: 0px;
  width: 60px;
  height: 20px;
}
.editResBtn{
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
  margin-left: 0px;
  margin-top: -35px;
  width: 620px;
  }

.sourceBox{
  width: 400px;
  margin-top: 30px;  
  padding-left: 20px;
    padding-right: 20px;
    border: 4px solid rgb(245, 209, 173);
}  */

 .saveForm {
  display: flex;
  flex-direction: row;
  margin-left: 1200px;
  margin-top: -150px;
  padding-bottom: 175px;
}

.saveBtn {
  display: flex;
  flex-direction: row;
  margin-left: 1200px;
  margin-top: -150px;
  padding-bottom: 175px;
}

.searchBar{
display: flex;
flex-direction: row;
margin-left: 720px;
align-items: center;
align-content: center;
font-size: xx-large;
}


.resourceEdit{

}
/* .newResourceBox{
  padding: 10px;
  width: 100%;
} */


/* .newResourceForm { */
  /* margin-top: -1270px;
  margin-left: 80px;
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  padding-bottom: -10px;
  border: 10px solid rgb(61, 61, 62);
} */



.h2Wrapper{
  /* display: flex;
  flex-direction: column; */
  padding-top: 20px;
  align-content: center;
  /* border: 5px solid rgb(24, 23, 23); */
  margin-left: 0px;
/* padding-bottom: -80px;   */
padding-left: -50px; 
}

.formInput{
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 97%;
  margin-left: 0px;
  /* margin-top: 150px; */
  /* padding: 10px; */
/* margin-bottom: 30px;   */
align-items: center;
font-size: xx-large;
width: 800px;
  height: 70px;
  border: 4px solid rgb(245, 209, 173);

}

.formButton{
  /* padding: 15px 25px; */
  /* margin: 10px; */
  /* padding-right: -30px; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 00px;
  background-color: rgb(239, 220, 126);
  border-radius: 20px;
  border-width: 5px;
  width: 130px;
  color: rgb(19, 18, 18);
  font-style: italic;
  font-size: x-large;
}




.newSubjectBox{
  padding: 10px;
  width: 100%;
 
}


.newSubjectForm {
 
  margin-top: 
  -400px;
  margin-left: 1080px;
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  padding-bottom: -10px;
  border: 10px solid rgb(61, 61, 62);
}

.h2WrapperSub{
  /* display: flex;
  flex-direction: column; */
  padding-top: 20px;
  align-content: center;
  /* border: 5px solid rgb(24, 23, 23); */
  margin-left: 0px;
/* padding-bottom: -80px;   */
padding-left: -50px; 
}
/* .newSubjectH2{

} */

.formInputSubject{
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 97%;
  margin-left: 0px;
  /* margin-top: 150px; */
  /* padding: 10px; */
/* margin-bottom: 30px;   */
align-items: center;
font-size: xx-large;
width: 700px;
  height: 70px;
  border: 4px solid rgb(245, 209, 173);

}

.formButtonSubject{
  /* padding: 15px 25px; */
  /* margin: 10px; */
  /* padding-right: 30px; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 00px;
  background-color: rgb(239, 220, 126);
  border-radius: 20px;
  border-width: 5px;
  width: 130px;
  color: rgb(19, 18, 18);
  font-style: italic;
  font-size: x-large;
text-align: center;
}


@media (min-width: 768px) {
  */ .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.dark {
  background-color: purple;
}

.light {
  background-color: aliceblue;
}

